force-app/main/default/flows/Campaign_Contact_Record_Trigger_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Opportunity_Record</name>
        <label>Assign Opportunity Record</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>currentOppotunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Looping_on_all_opportunities_related_to_Campaign_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentOppotunity.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Campaign_Contact_Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assigningAllOpportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentOppotunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_on_all_opportunities_related_to_Campaign_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_List_is_Not_Empty</name>
        <label>Check If List is Not Empty</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assigningAllOpportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunities</targetReference>
            </connector>
            <label>If not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_valid_update</name>
        <label>Is valid update?</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Source_value_is_different_from_prior_Source_value</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign_Contact_Source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Campaign_Contact_Source__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Opportunities_Related_To_Campaign_Contact</targetReference>
            </connector>
            <label>Current Source value is different from prior Source value</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Campaign Contact Record Trigger Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign Contact Record Trigger Flow</label>
    <loops>
        <name>Looping_on_all_opportunities_related_to_Campaign_Contact</name>
        <label>Looping on all opportunities related to Campaign Contact</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_All_Opportunities_Related_To_Campaign_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opportunity_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_If_List_is_Not_Empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Opportunities_Related_To_Campaign_Contact</name>
        <label>Get All Opportunities Related To Campaign Contact</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_on_all_opportunities_related_to_Campaign_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign_Contacts__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunities</name>
        <label>Update Opportunities</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputReference>assigningAllOpportunities</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_valid_update</targetReference>
        </connector>
        <object>Campaign_Contacts__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>assigningAllOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>currentOppotunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
