force-app/main/default/flows/Create_Campaign_Contact_From_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Campaign_Account_Id</name>
        <label>Campaign Account Id</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>campaignAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Account_Related_to_That_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Campaign_Source</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Campaign_Source</name>
        <label>Check Campaign Source</label>
        <locationX>710</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Create_Campaign_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_other_than_not_specific</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign.Source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Not Specific</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Campaign_Contact</targetReference>
            </connector>
            <label>If other than not specific</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Campaign_Contact_is_already_there</name>
        <label>Check if Campaign Contact is already there?</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Get_Campaign_Account_Related_to_That_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Sorce_is_changed</targetReference>
            </connector>
            <label>If Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_found_Campaign_Contact</name>
        <label>If found Campaign Contact</label>
        <locationX>710</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Create_Campaign_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Campaign_Account_is_there</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Account_Related_to_That_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Campaign_Account_Id</targetReference>
            </connector>
            <label>Campaign Account is there?</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Sorce_is_changed</name>
        <label>If Source is changed</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_as_Email_is_already_there</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Source__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Campaign_Contact</targetReference>
            </connector>
            <label>If true</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Campaign Contact From Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Campaign Contact From Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Campaign_Contact</name>
        <label>Copy 1 of Create Campaign Contact</label>
        <locationX>842</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Campaign_Accounts__c</field>
            <value>
                <elementReference>campaignAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Contact_Owner__c</field>
            <value>
                <elementReference>$Record.Campaign__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Contact_Source__c</field>
            <value>
                <elementReference>$Record.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.TTN_Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Touch_Point__c</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.TTN_Contact_Name__r.Full_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Meeting - Held Qualified</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Account</name>
        <label>Create Campaign Account</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <assignRecordIdToReference>campaignAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_Campaign_Source</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Meeting - Held Qualified</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign_Accounts__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Contact</name>
        <label>Create Campaign Contact</label>
        <locationX>578</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Campaign_Accounts__c</field>
            <value>
                <elementReference>campaignAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Contact_Owner__c</field>
            <value>
                <elementReference>$Record.Campaign__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Contact_Source__c</field>
            <value>
                <elementReference>Get_Campaign.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.TTN_Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Touch_Point__c</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.TTN_Contact_Name__r.Full_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Meeting - Held Qualified</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Account_Related_to_That_Contact</name>
        <label>Get Campaign Account Related to That Contact</label>
        <locationX>710</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_found_Campaign_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign_Accounts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Contact</name>
        <label>Get Campaign Contact</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Campaign_Contact_is_already_there</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Campaign_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TTN_Contact_Name__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>contactEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Opportunity</name>
        <label>Copy 1 of Update Opportunity</label>
        <locationX>842</locationX>
        <locationY>1379</locationY>
        <inputAssignments>
            <field>Campaign_Contacts__c</field>
            <value>
                <elementReference>Copy_1_of_Create_Campaign_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Campaign_Contact</name>
        <label>Update Campaign Contact</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Update_Opportunity_as_Email_is_already_there_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Campaign_Contact_Source__c</field>
            <value>
                <elementReference>$Record.Source__c</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Contacts__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>578</locationX>
        <locationY>1379</locationY>
        <inputAssignments>
            <field>Campaign_Contacts__c</field>
            <value>
                <elementReference>Create_Campaign_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>Get_Campaign.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_as_Email_is_already_there</name>
        <label>Update Opportunity as Email is already there</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>Campaign_Contacts__c</field>
            <value>
                <elementReference>Get_Campaign_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>Get_Campaign_Contact.Campaign_Contact_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_as_Email_is_already_there_1</name>
        <label>Update Opportunity as Email is already there</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>Campaign_Contacts__c</field>
            <value>
                <elementReference>Get_Campaign_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign_Contacts__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>campaignAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
