force-app/main/default/flows/On_Delete_of_Campaign_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_the_status_og_Campaign_Contact</name>
        <label>Check the status og Campaign Contact?</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Positive_response</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hot</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warm</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>To be followed-up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Followup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Campaign</targetReference>
            </connector>
            <label>If Positive response</label>
        </rules>
        <rules>
            <name>If_Negative_Response</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Interested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Right Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Qualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Campaign_Negative</targetReference>
            </connector>
            <label>If Negative Response</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>subNegative</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Campaign__r.Total_Contacts_Negative_Response__c} - 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>subPositive</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Campaign__r.Total_Contacts_Positive_Response__c} - 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>On Delete of Campaign Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>On Delete of Campaign Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Campaign</name>
        <label>Update Campaign</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Contacts_Positive_Response__c</field>
            <value>
                <elementReference>subPositive</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Campaign_Negative</name>
        <label>Update Campaign Negative</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Contacts_Negative_Response__c</field>
            <value>
                <elementReference>subNegative</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_the_status_og_Campaign_Contact</targetReference>
        </connector>
        <object>Campaign_Contacts__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
