force-app/main/default/flows/Roll_Up_on_Campaign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Total_Negative_Responses</name>
        <label>Total Negative Responses</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <actionName>RollUpData</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>If_Status_is_changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldToUpdate</name>
            <value>
                <stringValue>Total_Contacts_Negative_Response__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filter</name>
            <value>
                <stringValue>Status__c= &apos;Not Interested&apos; OR Status__c= &apos;Not Qualified&apos; OR Status__c= &apos;Not Right Contact&apos;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupFieldApiName</name>
            <value>
                <stringValue>Campaign__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupObjectApiName</name>
            <value>
                <stringValue>Campaign__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Campaign__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupFieldApiName</name>
            <value>
                <stringValue>Number__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupFunction</name>
            <value>
                <stringValue>SUM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupObjectApiName</name>
            <value>
                <stringValue>Campaign_Contacts__c</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Total_Positive_Responses</name>
        <label>Total Positive Responses</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <actionName>RollUpData</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Total_Negative_Responses</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldToUpdate</name>
            <value>
                <stringValue>Total_Contacts_Positive_Response__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filter</name>
            <value>
                <stringValue>Status__c = &apos;Hot&apos; OR Status__c = &apos;Warm&apos; OR Status__c= &apos;Under Followup&apos; OR Status__c= &apos;To be followed-up&apos;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupFieldApiName</name>
            <value>
                <stringValue>Campaign__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupObjectApiName</name>
            <value>
                <stringValue>Campaign__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Campaign__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupFieldApiName</name>
            <value>
                <stringValue>Number__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupFunction</name>
            <value>
                <stringValue>SUM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupObjectApiName</name>
            <value>
                <stringValue>Campaign_Contacts__c</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_Status_of_Campaign_Contact</name>
        <label>Check Status of Campaign Contact</label>
        <locationX>710</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Copy_5_of_Update_Related_Campaign_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Priority_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Campaign_Contacts.Contact_Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Campaign_Account</targetReference>
            </connector>
            <label>If Priority 1</label>
        </rules>
        <rules>
            <name>If_Priority_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Campaign_Contacts.Contact_Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Campaign_Account_2</targetReference>
            </connector>
            <label>If Priority 2</label>
        </rules>
        <rules>
            <name>If_Priority_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Campaign_Contacts.Contact_Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Related_Campaign_Account</targetReference>
            </connector>
            <label>If Priority 3</label>
        </rules>
        <rules>
            <name>If_Priority_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Campaign_Contacts.Contact_Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Update_Related_Campaign_Account</targetReference>
            </connector>
            <label>If Priority 4</label>
        </rules>
        <rules>
            <name>If_Priority_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Campaign_Contacts.Contact_Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Update_Related_Campaign_Account</targetReference>
            </connector>
            <label>If Priority 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Status_is_changed</name>
        <label>If Status is changed</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_All_Campaign_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>From_Positive_to_Negative</name>
            <conditionLogic>1 AND ( 2 OR 3 OR 4 ) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Not Interested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Not Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Not Right Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign__r.Total_Contacts_Positive_Response__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Total_Positive_Statisctics_of_Campaign</targetReference>
            </connector>
            <label>From Positive to Negative</label>
        </rules>
        <rules>
            <name>From_Negative_to_Positive</name>
            <conditionLogic>1 AND ( 2 OR 3 OR 4 OR 5) AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>To be followed-up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Under Followup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Hot</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Warm</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign__r.Total_Contacts_Negative_Response__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Total_Negative_Statisctics_of_Campaign</targetReference>
            </connector>
            <label>From Negative to Positive</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>subNegativeStatistics</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Campaign__r.Total_Contacts_Negative_Response__c} - 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>subtractVarForPositive</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Campaign__r.Total_Contacts_Positive_Response__c} - 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Roll Up on Campaign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Roll Up on Campaign</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Campaign_Contacts</name>
        <label>Get All Campaign Contacts</label>
        <locationX>710</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Status_of_Campaign_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign_Accounts__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign_Accounts__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign_Contacts__c</object>
        <sortField>Contact_Priority__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_2_of_Update_Related_Campaign_Account</name>
        <label>Copy 2 of Update Related Campaign Account</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign_Accounts__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Meeting - Planned</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign_Accounts__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_Related_Campaign_Account</name>
        <label>Copy 3 of Update Related Campaign Account</label>
        <locationX>842</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign_Accounts__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Possitive Response</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign_Accounts__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_4_of_Update_Related_Campaign_Account</name>
        <label>Copy 4 of Update Related Campaign Account</label>
        <locationX>1106</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign_Accounts__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Target</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign_Accounts__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_5_of_Update_Related_Campaign_Account</name>
        <label>Copy 5 of Update Related Campaign Account</label>
        <locationX>1370</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign_Accounts__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Negative Response</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign_Accounts__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Campaign_Account</name>
        <label>Update Related Campaign Account</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign_Accounts__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Meeting - Held Qualified</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign_Accounts__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Campaign_Account_2</name>
        <label>Update Related Campaign Account 2</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign_Accounts__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Meeting - Held Not Qualified</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign_Accounts__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Total_Negative_Statisctics_of_Campaign</name>
        <label>Update Total Negative Statisctics of Campaign</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Get_All_Campaign_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Contacts_Negative_Response__c</field>
            <value>
                <elementReference>subNegativeStatistics</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Total_Positive_Statisctics_of_Campaign</name>
        <label>Update Total Positive Statisctics of Campaign</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Get_All_Campaign_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Contacts_Positive_Response__c</field>
            <value>
                <elementReference>subtractVarForPositive</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign__c</object>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Total_Positive_Responses</targetReference>
        </connector>
        <object>Campaign_Contacts__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>numberOfRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
