force-app/main/default/flows/Roll_Up_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Closed_Lost</name>
        <label>Closed Lost</label>
        <locationX>1040</locationX>
        <locationY>839</locationY>
        <actionName>RollUpData</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Closed_Won</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldToUpdate</name>
            <value>
                <stringValue>Closed_Lost__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filter</name>
            <value>
                <stringValue>StageName = &apos;Closed Lost&apos;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupFieldApiName</name>
            <value>
                <stringValue>Campaign__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupObjectApiName</name>
            <value>
                <stringValue>Campaign__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>priorRecordId</name>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Campaign__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupFieldApiName</name>
            <value>
                <stringValue>Number__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupFunction</name>
            <value>
                <stringValue>SUM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupObjectApiName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Closed_Won</name>
        <label>Closed Won</label>
        <locationX>1040</locationX>
        <locationY>947</locationY>
        <actionName>RollUpData</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Valid_Update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldToUpdate</name>
            <value>
                <stringValue>Closed_Won__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filter</name>
            <value>
                <stringValue>StageName = &apos;Closed Won&apos;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupFieldApiName</name>
            <value>
                <stringValue>Campaign__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupObjectApiName</name>
            <value>
                <stringValue>Campaign__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>priorRecordId</name>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Campaign__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupFieldApiName</name>
            <value>
                <stringValue>Number__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupFunction</name>
            <value>
                <stringValue>SUM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupObjectApiName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lead_Qualify</name>
        <label>Lead Qualify</label>
        <locationX>1040</locationX>
        <locationY>731</locationY>
        <actionName>RollUpData</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Closed_Lost</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldToUpdate</name>
            <value>
                <stringValue>Active_Opportunity__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filter</name>
            <value>
                <stringValue>StageName = &apos;10% (BANT Qualified)&apos; OR StageName = &apos;40% (Proposal Submitted)&apos; OR StageName = &apos;80% (Waiting For The Final Go-Ahead)&apos;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupFieldApiName</name>
            <value>
                <stringValue>Campaign__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupObjectApiName</name>
            <value>
                <stringValue>Campaign__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>priorRecordId</name>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Campaign__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupFieldApiName</name>
            <value>
                <stringValue>Number__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupFunction</name>
            <value>
                <stringValue>SUM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupObjectApiName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SAL_Type</name>
        <label>SAL Type</label>
        <locationX>1040</locationX>
        <locationY>623</locationY>
        <actionName>RollUpData</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Lead_Qualify</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldToUpdate</name>
            <value>
                <stringValue>SAL__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filter</name>
            <value>
                <stringValue>StageName = &apos;Opportunity Identification Stage (Lead Qualified)&apos; OR StageName = &apos;0% - Qualified but bills to be received&apos;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupFieldApiName</name>
            <value>
                <stringValue>Campaign__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupObjectApiName</name>
            <value>
                <stringValue>Campaign__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>priorRecordId</name>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Campaign__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupFieldApiName</name>
            <value>
                <stringValue>Number__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupFunction</name>
            <value>
                <stringValue>SUM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupObjectApiName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_Opp_Campaign_field_change</name>
        <label>Check Opp Campaign field change</label>
        <locationX>1040</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>If_Stage_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_opportunity_stage</targetReference>
            </connector>
            <label>If changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_opportunity_stage</name>
        <label>Check opportunity stage</label>
        <locationX>578</locationX>
        <locationY>1463</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_lead_qualify</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity Identification Stage (Lead Qualified)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0% - Qualified but bills to be received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Campaign</targetReference>
            </connector>
            <label>If lead qualify</label>
        </rules>
        <rules>
            <name>If_Prospect</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10% (BANT Qualified)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>40% (Proposal Submitted)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>80% (Waiting For The Final Go-Ahead)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5% - Dormant after sharing the estimates &amp; proposal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10% - Bills received &amp; proposal/estimates to be shared</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>40% - Proposal shared &amp; under FUP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>80% - Got a go-ahead &amp; agreement shared</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>90% - Agreement signed &amp; billing transition pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateProspectStage</targetReference>
            </connector>
            <label>If Prospect</label>
        </rules>
        <rules>
            <name>If_closed_won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100% - Onboarded (Won)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Campaign</targetReference>
            </connector>
            <label>If closed won</label>
        </rules>
        <rules>
            <name>Closed_Lost_opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Update_Campaign</targetReference>
            </connector>
            <label>Closed Lost</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_new</name>
        <label>If new</label>
        <locationX>1040</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_new_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign_Contacts__r.Campaign_Contact_Source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Not Specific</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity</targetReference>
            </connector>
            <label>If new true?</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Stage_Change</name>
        <label>If Stage Change</label>
        <locationX>1502</locationX>
        <locationY>1463</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>If True?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Valid_Update</name>
        <label>Is Valid Update</label>
        <locationX>1040</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Check_Opp_Campaign_field_change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_isValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Campaign_Contacts__r.Campaign_Contact_Source__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Campaign_Contact_Source</targetReference>
            </connector>
            <label>Update isValid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Status_According_to_Priority</name>
        <label>Set Status According to Priority</label>
        <locationX>578</locationX>
        <locationY>1979</locationY>
        <defaultConnector>
            <targetReference>Update_Account_as_Existing_Client</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_equals_to_1_or_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Opportunities.Opporunity_Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_All_Opportunities.Opporunity_Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>If equals to 1 or 2</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>closedLostSub</name>
        <dataType>Number</dataType>
        <expression>{!$Record__Prior.Campaign__r.Closed_Lost__c} - 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>closedWonSUb</name>
        <dataType>Number</dataType>
        <expression>{!$Record__Prior.Campaign__r.Closed_Won__c} - 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>newProspectSub</name>
        <dataType>Number</dataType>
        <expression>{!$Record__Prior.Campaign__r.New_Prospect__c} - 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>subSAL</name>
        <dataType>Number</dataType>
        <expression>{!$Record__Prior.Campaign__r.SAL__c} - 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Roll Up Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Roll Up Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>578</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Opportunities</name>
        <label>Get All Opportunities</label>
        <locationX>578</locationX>
        <locationY>1871</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Status_According_to_Priority</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Opporunity_Priority__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Opportunity</name>
        <label>Copy 1 of Update Opportunity</label>
        <locationX>1172</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>SAL_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign_Contacts__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Campaign_Contact_Source__c</field>
            <value>
                <elementReference>$Record.Source__c</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Contacts__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Campaign</name>
        <label>Copy 2 of Update Campaign</label>
        <locationX>578</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Campaign__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Closed_Won__c</field>
            <value>
                <elementReference>closedWonSUb</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_Campaign</name>
        <label>Copy 3 of Update Campaign</label>
        <locationX>842</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Campaign__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Closed_Lost__c</field>
            <value>
                <elementReference>closedLostSub</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>446</locationX>
        <locationY>2087</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TTN_Relation_Type__c</field>
            <value>
                <stringValue>New Prospect</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_as_Existing_Client</name>
        <label>Update Account as Existing Client</label>
        <locationX>710</locationX>
        <locationY>2087</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TTN_Relation_Type__c</field>
            <value>
                <stringValue>Existing Client</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Campaign</name>
        <label>Update Campaign</label>
        <locationX>50</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Campaign__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SAL__c</field>
            <value>
                <elementReference>subSAL</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Campaign_Contact_Source</name>
        <label>Update Campaign Contact Source</label>
        <locationX>908</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Check_Opp_Campaign_field_change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign_Contacts__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Campaign_Contact_Source__c</field>
            <value>
                <elementReference>$Record.Source__c</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Contacts__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>908</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>SAL_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>$Record.Campaign_Contacts__r.Campaign_Contact_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateProspectStage</name>
        <label>Update Campaign</label>
        <locationX>314</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Campaign__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>New_Prospect__c</field>
            <value>
                <elementReference>newProspectSub</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign__c</object>
    </recordUpdates>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_new</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Campaign__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Campaign_Contacts__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
